{% extends 'layout.twig' %}

{% block body %}
    <div class="container">
        Authenticating....<br><br>
        If you are stuck on this screen close this window and try again.<br>
        And please make sure the token is correct.
    </div>
{% endblock %}
